<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Feedbacks</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Lista de Feedbacks</h1>
    <a href="/feedback/new" class="btn btn-primary mb-3">Adicionar Feedback</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Comentário</th>
            <th>Avaliação</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feedback : ${feedbacks}">
            <td th:text="${feedback.nomeUsuario}"></td>
            <td th:text="${feedback.comentario}"></td>
            <td th:text="${feedback.avaliacao}"></td>
            <td>
                <a th:href="@{/feedback/{id}/edit(id=${feedback.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/feedback/{id}/delete(id=${feedback.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar?');">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
